<!-- <nav class="navbar navbar-default">
  <a href="tqubeit.com">
    <img src="assets/logo.png" width="100" height="30">
  </a>
</nav> -->
<header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              <a href="tqubeit.com">
                  <img src="assets/logo.png" width="150" height="45">
              </a>
                    
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
          <div class="row"> 
            <div class="col-md-4 col-sm-2 col-lg-4"></div>
            <div class="col-md-4 col-sm-8 col-lg-4">
                <div style="width: 50%; margin: 0 auto;" class="textCenter">
                  <p class="textCenter hText line"><span class="white">Contact</span> <span class="orange">Us</span></p>
                  <br>
                </div>
            </div>
            <div class="col-md-4 col-sm-2 col-lg-4"></div>
            
          </div>
          <div>
              <p class="textCenter dText">Have Questions ? We have answers ( may be )</p>
            </div>
        </div>
</header>
<!-- <img src="" class="img-fluid test"> -->
